
body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh; /* 設置整个頁面高度等於視口高度 */
    background-color:#181534;
    color: #fff;
  }
  a{
    text-decoration: none;
  }
  
  /*Tabs導覽列*/
  .tabs {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 150px; /* 設置置最小宽度 */
  }
  
  .member-img{
    margin: 30px 0 20px 30px;
  }
  
  .member-img>img{
    width: 100px;
    height: 100px;
    border-radius: 25px;
  }
  
  .welcome,.member-name,.menu{
    padding: 0 0 0 40px;
  }
  
  .member-name>p{
    font-size: larger;
    font-weight: 900;
  }
  
  .menu{
    margin:20px 0 0 0;
  }
  
  .menu>p{
    font-size: 12px;
  }
  
  .tab {
    padding: 0 0 0 20px;
    cursor: pointer;
    display: flex;
  }
  
  .tab:hover {
    background-color: #ccc;
  }
  
  .tab-img{
    margin: 15px 50px 0 20px;
  }
  
  .tab-img>img,.logout-img>img{
    width: 20px;
    height: 20px;
  }
  
  .logout{
    width: 160px;
    height: 50px;
    margin:70px 0 0 20px;
    background-color: #8a8888;
    border-radius: 50px;
    cursor:pointer;
      
  }
  .logout{
    display: flex;
    align-items: center;
  }
  
  .logout-img{
    padding: 0 0 0 20px;
    margin:0 45px 0 0;
  }
  
  /*Tab內容區*/
  .tab-content {
    flex: 6;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 20px;
    margin:20px;
    overflow-y: auto; /* 添加滾動條以適應頁面高度 */
    display: none; /* 默認隱藏所有内容 */
    color:black;
  }
  
  .tab-content.active {
    display: block;
  }
  
  .container-box{
    display: flex;
  }
  .home-left{
    flex:4;
    padding: 30px 40px;
  }
  
  
  /*廣告*/
  .ad {
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
    padding:10px 10px 20px 0;
  }
  
  ul.slides {
    position: relative;
    width: 100%;
    height: 350px;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #eee;
    overflow: hidden;
    border-radius: 10px;
  }
    
  li.slide {
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    font-size: 120px;
    color: #fff;
    transition: .5s transform ease-in-out;
  }
    
  /*輪播圖片區設定*/
  .slide:nth-of-type(1) {
    background-image: url(/images/ad1.jpg);
    background-size: cover;
  }
    
  .slide:nth-of-type(2) {
    background-image: url(/images/ad2.jpg);
    background-size: cover;
    left: 100%;
  }
    
  .slide:nth-of-type(3) {
    background-image: url(/images/ad3.jpg);
    background-size: cover;
    left: 200%;
  }
  
  .slides input[type="radio"] {
    position: relative;
    z-index: 100;
    display: none;
  }
    
  .controls-visible {
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;
  }
    
  .controls-visible label {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 3px;
    border: 2px solid #fff;
  }
    
  .slides input[type="radio"]:nth-of-type(1):checked ~ .controls-visible label:nth-of-type(1) {
    background-color: #333;
  }
    
  .slides input[type="radio"]:nth-of-type(2):checked ~ .controls-visible label:nth-of-type(2) {
    background-color: #333;
  }
    
  .slides input[type="radio"]:nth-of-type(3):checked ~ .controls-visible label:nth-of-type(3) {
    background-color: #333;
  }
    
  .slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
    transform: translatex(0%);
  }
    
  .slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
    transform: translatex(-100%);
  }
    
  .slides input[type="radio"]:nth-of-type(3):checked ~ .slide {
    transform: translatex(-200%);
  }
    
    
    /* Left/Right Button Classes Below */
    
  .navigator {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    display: none;
  }
    
  .navigator i {
    font-size: 32px;
    color:#333;
  }
    
  .slides input[type="radio"]:nth-of-type(1):checked ~ .navigator:nth-of-type(1) {
    display: flex;
  }
    
  .slides input[type="radio"]:nth-of-type(2):checked ~ .navigator:nth-of-type(2) {
    display: flex;
  }
    
  .slides input[type="radio"]:nth-of-type(3):checked ~ .navigator:nth-of-type(3) {
    display: flex;
  }
  
  /*追蹤歌手*/
  .title>p,.title-txt>p{
    font-size: 15px;
  }
  .trending-artist{
    padding: 0 20px;
    display: flex;
    justify-content:space-between ;
  }
  
  .artist-img>img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  
  }
  .artist-name{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .artist-name>p{
    font-size: 12px;
  }
  
  /*我的歌單*/
  .title,.home-right-title{
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px 0;
  }
  
  .title-href{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 0;
  }
  
  .title-href>a{
    font-size: 12px;
    color: #444;
  }
  
  .songlist{
    display: flex;
    justify-content: space-between;
  }
  
  .list-item{
    width: 200px;
    height: 180px;
    border-radius: 15px;
    box-sizing: border-box;
    padding:0 15px 20px 15px;
    background-image: url(/images/memberimg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .songlist-play-button{
    background-color: #353535;
    opacity: 0.9;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    padding: 0 10px 10px 10px;
    display: flex;
    justify-content: space-between;
  }
  .songlist-name>p{
    color: #fff;
    font-size: 12px;
    font-weight: bold;
  }
  .songlist-bottom{
    display: flex;
  }
  .songlist-icon{
    position: relative;
    bottom: 10px;
  
  }
  .songlist-icon>img{
    width: 15px;
    height: 15px;
  }
  .songlist-count{
    margin: 0 0 0 10px;
    position: relative;
    bottom: 10px;
  }
  
  .songlist-count>p{
    color: #fff;
    font-size: 13px;
  }
  
  .play-button-img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .play-button-img>img{
    width: 25px;
    height: 25px;
  }
  
  /*右邊*/
  .home-right{
    padding: 20px;
    flex:1;   
  }
  
  .home-right-title{
    padding: 0 20px 0 0;
  }
  
  /*搜尋*/
  .hr-search{
    box-sizing: border-box;
    padding: 10px 10px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .hr-search>img{
    width: 18px;
    height: 18px;
    z-index:2;
    position:absolute;
    top: 63px;
    right:220px;
  }
  
  .hr-search>input{
    outline: none;
    background:none;
    border: none;
    padding-left: 50px;
    width: 45%;
    height: 40px;
    border-radius: 20px;
    z-index: 0;
    background-color:#181534;
  }
  
  /*你的創作*/
  .creatlist ul{
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .creatlist-item{
    margin:0 0 10px 0;
  }
  
  #creatlist-item3{
    margin:0 0 15px 0;
  }
  
  .creatlist-item,.creatlist-left{
    display: flex; 
  }
  
  .creatlist-left{
    width: 60%;
  }
  
  .creatlist-number,.creatlist-img,.txt-name,.txt-time{
    margin:0 20px 0 0;
  }
  
  .creatlist-number{
    display: flex;
    align-items: center;
  }
  
  .creatlist-img{
    display: flex;
    align-items: center;
  }
  
  .creatlist-img>img{
    width: 50px;
    height: 50px;
    border-radius: 15px;
  }
  
  .txt-name>p{
    font-weight: bold;
  }
  
  .txt-name>p,.txt-time>p,.creatlist-number>p{
    font-size: 12px;
  }
  
  .creatlist-right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
  }
  
  .creatlist-time>p{
    font-size: 12px;
  }
  
  .creatlist-right-img>img{
    width: 25px;
    height: 25px;
  }
  
  .creatlist-right-img-2>img{
    width: 20px;
    height: 20px;
  }
  
  /*播放器*/
  .play{
    background-color: #181534;
    width: 350px;
    height: 490px;
    border-radius: 20px;
  }
  
  .play-img{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: center;
  }
  
  .play-img>img{
    width: 300px;
    height:180px;
    border-radius: 20px;
  }
  
  .play-name,.play-artist{
    display: flex;
    justify-content: center;
  }
  
  .play-name>p,.play-artist>p{
    color: #fff;
  }
  
  .play-voice{
    margin:15px 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .play-voice>img{
    width: 45px;
    height: 45px;
  }
  
  .audio{
    display: flex;
    justify-content: center; 
  }
  
  
  