.content6-setting {
    padding: 20px 50px;
}

.setting-account-manage {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 15px;

}

.manage-item {
    width: 240px;
    height: 100px;
    border-radius: 15px;
    /*background-color: rgb(110, 108, 108);*/
    background-color: #181436;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;


}

.manage-item-img {
    margin: 5px 20px 0 0;
}

.manage-item-img>img {
    width: 25px;
    height: 25px;

}

.manage-item-txt>p {
    color: #fff;
}