.tab-content-1 {

    align-items: center;
    min-width: 100px;
    /* 設置置最小宽度 */
    margin: 1% 10%;
    width: auto;
    height: 690px;
    display: flex;
    flex-direction: column;
}

/*人像選擇*/
.tab-content-11 {
    position: relative;
    height: 20%;
    margin-top: 1%;
    cursor: pointer;
}

.tab11-person {
    height: auto;
    width: 20%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab11-person>img {
    width: 50%;
    border-radius: 50%;
    display: block;

}

.tab11-person>img:hover {
    transform: scale(1.2);
    /* 在滑鼠懸停時將圖片放大到1.2倍 */
    /* 讓滑鼠變成手形游標 */
}

.tab11-person>h3 {
    width: 70%;
    text-align: center;
}

/*VOICEPERSON*/
h2 {
    text-align: center;
    height: 5%;
}

.section2 {
    position: relative;
    padding-top: 3%;
    width: 90%;
    align-items: center;
    margin-top: 4%;
    height: 70%;
    background-color: #181534;
    border-radius: 15px;
    overflow-y: auto;

}

.one {
    margin-left: 2%;
    margin-right: 2%;

    height: 65px;
    display: flex;
}

.one>h5 {
    color: aliceblue;
    margin-right: 5%;
    margin-bottom: 2%;
}

.one>audio {
    width: 90%;
    align-items: center;
}

.music-btn {
    background-color: #181534;
    float: right;
    display: block;
    border-color: transparent;
    box-shadow: none;
    outline: none;
    width: 10%;
    height: 15%;
    margin: 1%;

}

.music-btn>img {
    width: 60%;
    float: right;
    cursor: pointer;
    margin: 1%;
}

/*
 .btn{
     padding-top: 1%;
     background-color: white;
     color: black;
     display:block;
     border-radius: 50px;
     text-align: center;
     align-items: center;
     margin-left: 35%;
     width: 20%;
     height: 100%;
 }*/
.two {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
}

.addnew {
    text-align: center;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addnew-two {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 1% 25%;
}

.addnew-two>img {
    width: 15%;
    height: 15%;
    margin-right: 10%;
}

.addbutton {
    display: flex;
    text-align: center;
    align-items: center;

    flex-direction: column;
}

.addbutton>button {
    border-radius: 15px;
    height: 30px;
    width: 30%;
    cursor: pointer;
    color: #181534;
    background-color: aliceblue;
}

#audio-player {
    display: none;
}

.addbutton>img {
    width: 10%;
    height: 10%;
    text-align: center;
    margin-left: 40%;
    -ms-transform: rotate(40deg);
    /* IE 9 */
    -webkit-transform: rotate(40deg);
    /* Safari and Chrome */
    transform: rotate(40deg);
}

/*創建個人聲音*/
.modal {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content-music {
    color: azure;
    background-color: #6e66b8d8;
    margin: 0% auto 15% auto;
    /* 0% from the top, 15% from the bottom and centered */
    border: 1px solid #8a8888;
    width: 650px;
    height: 80%;
    border-radius: 15px;

    background-blend-mode: multiply;

}

.close-voice {
    float: right;
    margin: 2%;
    right: 25px;
    top: 0;
    color: aliceblue;
    font-size: 35px;
    font-weight: bold;
}

.close-voice:hover,
.close-coice:focus {
    color: rgb(238, 87, 49);
    cursor: pointer;
}

.modal1 {
    display: flex;

}









.voicwave {
    display: flex;
    justify-content: center;
    align-items: center;
}

.voicwave>img {
    width: 50px;
    height: 50px;

}

.section1-voiceadd>h3 {
    text-align: center;
}

.music-player {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #181534;
    width: 80%;
    margin: 7%;
}

.player-controls {
    margin-top: 20px;
    margin-left: 20%;
}

.section2-voiceadd {
    display: flex;
}

.s2-vd-1 {
    outline: none;
    background: none;
    border: none;
    align-items: center;
    width: 20%;
    margin: 1% 15%;
    height: 50px;
    border-radius: 15px;
    background-color: aliceblue;
    color: #181534;
    cursor: pointer;
}

.s2-vd-2 {
    outline: none;
    background: none;
    border: none;
    align-items: center;
    width: 20%;
    margin: 1% 15%;
    height: 50px;
    border-radius: 15px;
    background-color: aliceblue;
    color: #181534;
    cursor: pointer;
}